# 1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.

In [4]:
5 * 10 #['*' a arithmetic operator its do multiplication operation]

50

In [5]:
type('hello')#['hello' is a string]

str

In [6]:
type(-87.8) #[-87.8 in a float]

float

In [7]:
80-20 #['-'a arithmetic operator its do subtraction operation]

60

In [10]:
a=49/7 #['/'a arithmetic operator its do division operation it returns float]
print(a)
type(a)

7.0

float

In [11]:
45+5 #['+'a arithmetic operator its do addition operation it returns float]

50

In [12]:
type(6)  #[6 in a integer]

int

# 2. What is the difference between string and variable?

In [16]:
a="Arindam"

In [18]:
print(a) 
type(a)

Arindam

str

string : String is a data type. Ex- "Arindam" is a string.
Variable : Varible stores values, it reserved memory location for hold values. Ex- a is a variable.

# 3. Describe three different data types.

In [28]:
x="String datatype123"
y= 7980644358
z= 96.4

In [29]:
type(x) #String datatype, it stores all types of value. It is the wrapped inside single, double and triple quotes. it consider as string

str

In [26]:
type(y) #integer datatype, a real Number consider as interger, it can be positive or can be negetive.

int

In [27]:

type(z) #float datatype,a real Number with decimal point consider as flot, it can be positive or can be negetive.

float

# 4. What is an expression made up of? What do all expressions do?

An expression is a combination of operators and operands that is interpreted to produce some other value.

In [32]:
q=5
r=6
p=q+r # this is an expression, exreession can produce new value using operators and operands
print(p)

11

# 5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

In [43]:
spam =10
print(spam)

10

Expession : Expression all always produce or return values.
Statement : Statement may or may not produce or display reslut.
here, spam=10 it means spam is a value and it holds integer 10.

# 6. After running the following code, what does the variable bacon contain?
# bacon = 22
# bacon + 1

In [40]:
bacon = 22
bacon+1
print(bacon)

22

# 7. What should the values of the following two terms be?
# &#39;spam&#39; + &#39;spamspam&#39;
# &#39;spam&#39; * 3

In [46]:
'spam' + 'spamspam'

'spamspamspam'

In [45]:
'spam'*3

'spamspamspam'

# 8. Why is eggs a valid variable name while 100 is invalid?

In [48]:
eggs=30

In [50]:
100=20

SyntaxError: cannot assign to literal (<ipython-input-50-715c74387c07>, line 1)

100 is a numerical value can't initialize as a variable name.  It can cause some problems like 100=20 its meaning less.
but egg =30 it justifide annd meaningful

# 9. What three functions can be used to get the integer, floating-point number, or string version of a value?

In [57]:
i=int(input("Enter integer: "))
print(i)
type(i)

Enter integer: 56
56

int

In [58]:
j=float(input("Enter float: "))
print(j)
type(j)

Enter float: 45.23
45.23

float

In [60]:
n=input("Enter any thing : ") #in python input function take default as 'string'
print(n)
type(n)

Enter any thing : 7895
7895

str

# 10. Why does this expression cause an error? How can you fix it?
# &#39;I have eaten &#39; + 99 + &#39; burritos.&#39;

In [61]:
'I have eaten ' + 99 + ' burritos' # string only concatinate with only string but here 99 is a numerical value.

TypeError: can only concatenate str (not "int") to str

In [62]:
# to fix this problem

'I have eaten ' + str(99) + ' burritos'

'I have eaten 99 burritos'